
/*------------------------------------*\
    $HEADER
\*------------------------------------*/


header {
  &.navbar {
    margin-bottom: 0;
  }

  $linkColor: $shade;
  // $hoverColor: #E36C22;
  // $hoverColorBackground: #f2f6fa;
  $hoverColor: $headerColor;
  $hoverColorBackground: $orangeDark;
  background-color: $headerColor;

  .nav > li > a, a {
    font-weight: bold;
    // box-sizing: border-box;
    // height: 100%;
    color: $linkColor;
    &:hover {
      // background-color: transparent;
      background-color: $hoverColorBackground;

      color: $hoverColor;
    }
  }

  /* mobile version */
  button.navbar-toggle {
    .icon-bar  { background-color: $linkColor;}
    &:hover {border: 1px solid #888; }
    &:hover .icon-bar { background-color: $hoverColorBackground;}
  }

  svg {
    width: 225px;
  }

  .navbar-brand:hover {
    fill: $hoverColor
  }


  a {
    color: $shade;
    border-bottom: 0;

    &:focus, &:hover, &:active {
      color: $orangeDark;
      border-bottom: 0;
    }
  }

}


.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 0;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
$footerLink: $paperGreyTextureColor;

footer {
  padding: 4% 0 20px;
  // margin-top: 3%;
  color: $footerLink;
  background-color: $shade;
}


.navholder {
  display: inline-block;

  &+& {
    margin-left: 5%;
  }
}

.navicon {
  border: 1px solid $footerLink;
  color: $footerLink;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 83px;
  width: 83px;
  border-radius: 50%;

  &:hover, &:focus, &:active {
    border: 3px solid $orangeDark;
    color: $footerLink;

    i {
      color: $orangeDark;
    }
  }



}

.navicon span {
  display: block;
  font-family: $globalFontHeading;
  font-size: 13px;

}

$grayOut: #CCC;

hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid $grayOut;
    margin: 5% 0;
}

.resources {
  font-size: 13px;

  span {
    color: $grayOut;
    display: block;
    border-bottom: 1px solid $grayOut;
    margin-bottom: 3px;
  }

  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
  }

  li a {
    display: inline-block;
    border-bottom: 2px dotted transparent;
    color: $footerLink;

     &:hover, &:focus, &:active {
      border-bottom: 2px dotted $orangeDark;
      color: $footerLink;
    }   
  }
}


#contactwebmaster {
  text-align: center;
  margin-top: 40px;

  li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  .navholder {
    &+& {
      margin-left: 1%;
    }
  }

  .navicon {
    height: 85px;
    width: 85px;

    i {
      font-size: 30px;
    }
  }
}

