$globalFontHeading: Didot, “Didot LT STD”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
// $globalFont:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$globalFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodyCopy: 16px;


$bg: #e5e8f1;
$orangeTint: #e9e9de;


$kicker: #e4e3e8;
$tint: #b1b0b8;
$tone: #80828f;
$shade: #313036;

$highlight: #D91623;

$blueDark: rgb(6, 52, 116);
$blueMed: rgb(56, 139, 192);
$blueLight: rgb(78, 188, 217);
$orangeLight: #E4E3D5;
$orangeMed: rgb(244, 232, 169);
$orangeDark: #F27324;
$orangeYellow: rgb(241, 183, 66);

$codeSchoolLight: #EFEDDF;
$codeSchoolMed: #E4E3D5;

$topWhite: #FEFCDE;
$beige: #FEFCDE;
$box2: #aacdd7;


$paperGreyTexture: #EBEAE7  url('../images/paper_greytexture.jpg') repeat scroll 0% 0% ;
$paperGreyTextureColor: #EBEAE7;


$paperBeigeTexture: #f7f4e8 url(../images/paper_bkd.jpg) repeat scroll 0% 0%;
$paperBeigeColor: #f7f4e8;

$paperBrownTexture: #DCD6CA url(../images/paperBrown.jpg) repeat scroll 0% 0%;
$paperBrownColor: #DCD6CA;

$plane: #f5f5f5;
$spanTag: hsla(1, 0%, 65%, 1);


$csBlueLight: #F7F8FA;
$headerColor: #FFFEFC;
$blue2: #AFBDC7;
$blue3: #97BCCC;


@font-face {
  font-family: 'top_secretbold';
  src: url('./Top-Secret-fontfacekit/Top_Secret-webfont.eot');
  src: url('./Top-Secret-fontfacekit/Top_Secret-webfont.eot?#iefix') format('embedded-opentype'),
       url('./Top-Secret-fontfacekit/Top_Secret-webfont.woff') format('woff'),
       url('./Top-Secret-fontfacekit/Top_Secret-webfont.ttf') format('truetype'),
       url('./Top-Secret-fontfacekit/Top_Secret-webfont.svg#top_secretbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
