@charset "utf-8";

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
@import "variables";


/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body {
  font-family: $globalFont;
  font-size: $bodyCopy;
  background: white;

  color: $shade;


  a {
    color: $shade;
    border-bottom: 2px dotted $orangeDark;

    &:focus {
      outline: none; //For firefox
    }

    &:focus, &:hover, &:active {
      text-decoration: none;
      color: $shade;
      border-bottom: 3px solid $orangeDark;

    }
  }
}

@import "headerFooter";


h1, h2, h3, h4, h5 {
  font-family: $globalFontHeading;
}

.btn.btn-primary {
  background-color: $orangeDark;
  border-color: $orangeDark;
  border-bottom: 0;
  color: white;
  font-size: $bodyCopy;

  &:hover {
    background-color: $orangeYellow;
    border-color: $orangeYellow;
    border-bottom: 0;
    color: white;
  }
}

.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; /* IE6&7 */ }


/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.gmap {
  height: 250px;
  width: 100%;
}

.jumbotron {
  color: $paperBeigeColor;
  position: relative;
  background: url(../images/stage.jpg)  no-repeat; 
  background-position: 50% 62%;
  background-size: cover;
  margin-bottom: 0;
}


.intro svg {
  width: 55%;
  height: 100%; //for Safari
  fill: $paperGreyTextureColor;
}

.block1 {
  background: $paperBeigeTexture;

}

.block2 {
  // background-color: #f7f4e8;
  background: $paperGreyTexture;
  position: relative;
  z-index: 2;
}

.block3 {
  background-color: $blue2;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;

  img {
    width: 100%;
  }
}

figcaption {
  $figcaptionColor: #737373;
  font-size: 12px;
  font-style: italic;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: $figcaptionColor;

  a {
    color: $figcaptionColor;
  }
}

/*------------------------------------*\
    $MAIN PAGE
\*------------------------------------*/

.onpaper {
  margin: 30px auto 30px auto;
  width:75%;
  // background: #f7f4e8 url(../images/paper_bkd.jpg);
  background: $paperBrownTexture;
  // background: $paperGreyTexture;
  padding: 3% 6%;
}

// $PAPER SHADOW EFFECT
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: transparent;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}




.rightpics {
  margin-left: 2%;
  width: 50%;
  padding-top: 20px;
}

.tinapic {
  width: 15%;
  margin-right: 2%;
}
.tinalink {
  font-style: italic;
}

.toastrightpics {
  margin-left: 2%;
  padding-top: 20px;  
  width: 40%;
}

.toastleftpics {
  @extend .toastrightpics;
  margin-right: 2%;
  margin-left: 0;
}



/*------------------------------------*\
    $ABOUT
\*------------------------------------*/
#aboutus {
  img {
    width: 100%;
  }
}

#leadership {

  .presidentspiel {
      display: inline-block;
      // background-size: 40px 40px; /* image's size */
      height: 300px; /* image's height */
      // padding-left: 50px; /* image's width plus 10 px (margin between text and image) */
  }

  .presidentspiel p {
      height: 300px; /* image's height */
      display: table-cell;
      vertical-align: middle;
  }


  .oval {
    height: 300px;
    width: 200px;
    // line-height: 300px; //this is impt for vertical align

    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 2px 4px 10px #888;
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-align: center;


    img {
      height: 100%;
      width: auto;
      vertical-align: middle;
      margin: 0 -100%; // To center img if it's larger than container
    }

  }

  figcaption {

    span {
      display: block;
    }
    span:first-child {
      margin-top: 10px;
      font-weight: bold;
    }
  }
}

.officers {
  margin-top: 10px;

  figure {
    margin-bottom: 3%;
  }

  .circle {
    height: 100px;
    width: 100px;
    // line-height: 100px; //this is impt for vertical align
    // vertical-align: text-top;

    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 2px 4px 10px #888;
    margin: 0 auto 0 auto;
    overflow: hidden;
    text-align: center;


    img {
      height: 100%; //switch height & width values if image doesn't cover.
      width: auto;
      margin: 0 -100%;
    }

  }



  figcaption {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    float: none;
    span {
      display: block;
    }

    span:first-child {
      // margin-top: 10%;
    }
  }
}



/*------------------------------------*\
    $NEW MEMBERS
\*------------------------------------*/
.unclesampic {
  @extend .toastrightpics;
  width: 30%;
}
.rosiepic {
  @extend .toastleftpics;
  width: 30%;
}
.pdf {
  margin-top: 30px;
}

.faq {
  list-style-type: none;
  padding-left: 0px;

  li {
    margin-bottom: 15px;
  }

  span {
    display: block;
  }

  .question {
    font-weight: bold;
    font-style: italic;
  }
  .answer {
    // max-width: 850px;
  }
}

/*------------------------------------*\
    $MEMBERS
\*------------------------------------*/

.jumbotronSpecial {
  padding-top: 0;
  .intro svg {
    margin-top: 68px;
  }
}

.wrapper {
  // box-sizing: content-box;
  // margin-left: 30px
}
.greetings {
  vertical-align: top;
  display: inline-block;
  width: 66%;
  margin-top: 68px;
  box-sizing: border-box;
}

.encloser {
  box-sizing: border-box;
  width: 33%;
  display: inline-block;
  margin-top: 68px;
  padding: 0 20px 0 0;

}
.nonfloatingForm {
  background-color: $paperBeigeColor;
  padding: 20px 25px 10px;


  color: $shade;
  // padding: 5px 20px 10px;

  h1, h2, h3 {
    margin-top: 15px;
  }


  table {
    width: 100%;
  }
  td {
    padding-bottom: 8px;

  }

  .buttonHolder {
    text-align: right;
    margin-top: 10px;
  }
  .help-block {
    font-size: 12px;
    font-style: italic;
    text-align: right;
  }

}

.firstState {
  max-height: 0;
}

.secondState {
  max-height: 300vh;
  transition-property: max-height;
  transition-duration: 2.5s;
  transition-timing-function: ease-in-out;
}


.homeAnimation {
  animation: curtainDown 2.5s ease-in-out;
  animation-delay: 0.5s;
  // height: 0;
  animation-fill-mode: both;
}

@keyframes curtainDown { 
  from { max-height: 0; } to { max-height: 300vh; }  
}


.homeTransition {
  animation: curtainDown 4s linear;
  animation-delay: 2s;
  // height: 100%;
}


.placeUnder {
  position: relative;
  z-index: 1;
}
.placeOver {
  position: relative;
  z-index: 3;
}



td:first-child {
  vertical-align: text-top;
  padding-right: 15px;
}
td ul {
  padding-left: 15px;
}

#accordion a {
  color: $shade;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px dotted $orangeDark;
  }
}




.convo {
  i {
    display: block;
    padding-left: 15px;
  }

  i::before {
    content: "\2014\"";
  }
  i::after {
    content: "\"";
  }
}

.roles {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;
  }
}

.umbrella {
  text-align: center;
  vertical-align: bottom;
  line-height: 100%;
  // background-color: $paperBrownColor;

  // padding: 20px 0 10px;

  .onpaper {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 0;
  }

  h1, h2 {
    margin-top: 0;
  }

  ul {
    padding-left: 0;  
    list-style-type: none;
    font-size: 14px;
  }

  li {
    margin-bottom: 3px;
  }
  span {
    display: block;
  }

  span:nth-child(2)::after {
    font-family: FontAwesome;
    content: '\f062';
    // white-space:pre;
    display: block;
  }

  span:first-child {
    font-weight: bold;
  }

}

/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
.form-control {
  background-color: $headerColor;
}

/*------------------------------------*\
    $MEDIA QUERY
\*------------------------------------*/
@import "mediaquery";




