#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
          1. The Ice Breaker
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        %p For your first speech project, you will introduce yourself to your fellow club members and give them some information about your background, interests, and ambitions. Practice giving your speech to friends or family members, and strive to make eye contact with some of your audience. You may use notes during your speech if you wish. Read the entire project before preparing your talk.
        %table
          %tbody
            %tr
              %td Time:
              %td 4 – 6 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li To begin speaking before an audience.
                  %li To discover speaking skills you already have and skills that need some attention
                  %li To introduce yourself to your fellow club members.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
          2. Organize Your Speech
    #collapseTwo.panel-collapse.collapse
      .panel-body
        %p Good speech organization is essential if your audience is to understand your presentation. You must take the time to put your ideas together in an orderly manner. You can organize your speech in several different ways; choose the outline that best suits your topic. The opening should catch the audience’s attention, the body must support the idea you want to convey, and the conclusion should reinforce your ideas and be memorable. Transitions between thoughts should be smooth.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Select an appropriate outline which allows listeners to easily follow and understand your speech.
                  %li Make your message clear, with supporting material directly contributing to that message.
                  %li Use appropriate transitions when moving from one idea to another.
                  %li Create a strong opening and conclusion.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
          3. Get to the Point
    #collapseThree.panel-collapse.collapse
      .panel-body
        %p Every speech must have a general an a specific purpose. A general purpose is to inform, to persuade, to entertain, or to inspire. A specific purpose is what you want the audience to do after listening to your speech. Once you have established your general and specific purposes, you’ll find it easy to organize your speech. You’ll also have more confidence, which makes you more convincing, enthusiastic, and sincere. Of course, the better organized the speech is, the more likely it is to achieve your purpose.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Organize the speech in a manner that best achieves those purposes
                  %li Ensure the beginning, body, and conclusion reinforce the purpose.
                  %li Project sincerity and conviction and control any nervousness you may feel.
                  %li Strive not to use notes.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
          4. How to Say It
    #collapseFour.panel-collapse.collapse
      .panel-body
        %p Words are powerful. They convey your message and influence the audience and its perception of you. Word choice and arrangement need just as much attention as speech organization and purpose. Select clear, accurate, descriptive and short words that best communicate your ideas and arrange them effectively and correctly. Every word should add value, meaning, and punch to the speech.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Select the right words and sentence structure to communicate your ideas clearly, accurately and vividly.
                  %li Use rhetorical devices to enhance and emphasize ideas.
                  %li Eliminate jargon and unnecessary words. Use correct grammar.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
          5. Your Body Speaks
    #collapseFive.panel-collapse.collapse
      .panel-body
        %p Body language is an important part of speaking because it enhances your message and gives you more credibility. It also helps release any nervousness you may feel. Stance, movement, gestures, facial expressions, and eye contact help communicate your message and achieve your speech’s purpose. Body language should be smooth, natural, and convey the same message that your listeners hear.
        %p 
          Read: 
          %i Gestures: Your Body Speaks (Catalog #201), 
          which you received in your New Member Kit.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Use stance, movement, gestures, facial expressions, and eye contact to express tour message and achieve your speech’s purpose.
                  %li Make your body language smooth and natural.
                  %li Focus on methods of delivery, but do not overlook speech content.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSix"}
          6. Vocal Variety
    #collapseSix.panel-collapse.collapse
      .panel-body
        %p Your voice has a major effect on your audience. A lively, excited voice attracts and keeps listeners’ attention. A speaking voice should be pleasant, natural, forceful, expressive, and easily heard. Use volume, pitch, rate, and quality as well as appropriate pauses to reflect and add meaning and interest to your message. Your voice should reflect the thoughts you are presenting.
        %p 
          Read: 
          %i Your Speaking Voice (Catalog #199), 
          which you received in your New Member Kit.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Use voice volume, pitch, rate, and quality to reflect and add meaning and interest to your message.
                  %li Use pauses to enhance your message.
                  %li Use vocal variety smoothly and naturally.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse7"}
          7. Research Your Topic
    #collapse7.panel-collapse.collapse
      .panel-body
        %p Your speech will be more effective if you can support your main points with statistics, testimony, stories, anecdotes, examples, visual aids and facts. You can find this material on the Internet, at a library, and in other places. Use information collected from numerous sources and carefully support points with specific facts, examples and illustrations, rather than with just your own opinions.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Collect information about your topic from numerous sources.
                  %li Carefully support your points and opinions with specific facts, examples, and illustrations gathered through research.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse8"}
          8. Get Comfortable with Visual Aids
    #collapse8.panel-collapse.collapse
      .panel-body
        %p Visual aids help an audience understand and remember what they hear; they are a valuable tool for speakers. The most popular visual aid are computer-based visuals, overhead transparencies, flip charts, whiteboards, and props. The type of visual aid you choose depends on several factors, including the information you wish to display and the size of the audience. Visuals must be appropriate for your message and the audience, and be displayed correctly with ease and confidence.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Select visual aids that are appropriate for your message and the audience.
                  %li Use visual aids correctly with ease and confidence.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse9"}
          9. Persuade with Power
    #collapse9.panel-collapse.collapse
      .panel-body
        %p The ability to persuade – to get other people to understand, accept, and act upon your ideas – is a valuable skill. Your listeners will be more likely to be persuaded if they perceive you as credible, if you use logic and emotion in your appeal, if you carefully structure your speech and if you appeal to their interests. Avoid using notes because they may cause listeners to doubt your sincerity, knowledge, and conviction.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Persuade listeners to adopt your viewpoint or ideas or to take some action.
                  %li Appealing to the audience’s interests.
                  %li Use logic and emotion to support your position.
                  %li Avoid using notes.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse10"}
          10. Inspire Your Audience
    #collapse10.panel-collapse.collapse
      .panel-body
        %p An inspirational speech motivates an audience to improve personally, emotionally, professionally, or spiritually and relies heavily on emotional appeal. It brings the audience together in a mood of fellowship and shared desire, builds the audience’s enthusiasm, then proposes a change or plan and appeals to the audience to adopt this change or plan.
        %p This speech will last longer than your previous talks, so make arrangements in advance with your VP Education and meeting Toastmaster for extra time.
        %table
          %tbody
            %tr
              %td Time:
              %td 8 – 10 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li To inspire the audience by appealing to noble motives and challenging the audience to achieve a higher level of beliefs or achievement.
                  %li Appeal to the audience’s needs and emotions, using stories, anecdotes and quotes to add drama.
                  %li Avoid using notes.