%header.navbar.navbar.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href:'./'}
        / Logo goes here
        = partial('./layouts/brandsvg')
    .navbar-collapse.collapse
      %nav.collapse.navbar-collapse.navbar-right{role: "navigation"}
        %ul.nav.navbar-nav.navbar-right
          %li.active
            - if build?
              %a{href:'./members'}
                / %span.glyphicon.glyphicon-user
                / %i.fa.fa-users
                MEMBERS            
            - else
              %a{href:'./members.html'}
                / %span.glyphicon.glyphicon-user
                / %i.fa.fa-users
                MEMBERS
