#accordionImprov.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordionImprov", "data-toggle" => "collapse", href: "#improveOne"}
          Group Exercises
    #improveOne.panel-collapse.collapse
      .panel-body
        %p These exercises are done as a warm-up and to get an entire group participating.
        %p
          %strong Speed Word Association
        %p Each person says a word and the next person responds with the first word that comes to mind and so on.  Go as fast as possible.  2-3 sets.
        %p
          %strong Yes And…
        %p The first person makes a statement (offer) and the next person responds with "yes and..." then finishes the sentence.  Then the third person makes a new statement and the next person responds with "yes and...", etc....  Go as fast as possible making one sentence responses.  Reverse the circle so each person practices either side of yes and....  2-3 sets.
        %p
          %strong What you are saying is that…  (aka "So I'll…)
        %p Goal:  To work on listening and making smaller, more logical steps in story building.  It is also good practice for getting out of a "blank moment".

        %p.convo
          How to play:  Have everyone up in a circle. One person makes a statement, and the next person builds off of it.
          %i It is a lovely day out.
          %i WHAT YOU ARE SAYING IS THAT--It is a lovely day out, SO I WILL--go for a walk.
          %i WHAT YOU ARE SAYING IS THAT--I'll go for a walk, SO I WILL--get my shoes.

        %p The idea is to say the next most logical thing in the story….   and so on.  Be sure to say the lines each time. Go the first time around to get the idea.  Second time, try to pick up the tempo while keeping a smooth flow.
        %p
          %strong No Questions, You or I
        %p Goal:  To get in the flow of adding statements to a story / get in the habit of not blocking
        %p
          How to play:
          4 players…   2 players on stage / 2 players ready to step in
        %p Audience suggests a scene and players begin to improv.   Questions are not allowed nor are the words "you" or "I".  If a player violates the rules he steps aside and is replaced by the player off to the side.  Also, if too much time passes, the buzzer goes off as well.
        %p Continue for a 2-3 minutes or so….
        %p
          %strong No Question About It
        %p Goal:  To get our brains warmed up more for the games.
        %p
          How to play:
          %br/
          Still in a circle:  the first person starts a story with a sentence and each person adds one sentence.
        %p However, no questions are allowed, nor a selected letter chosen by the first person.  If a player asks a question or uses a forbidden letter, they must sit down.  Start over with a new story and forbidden letter or even two letters.
        %p Repeat until everyone sits down.
        %p
          %strong Whatever You Do
        %p Same stage/circle routine.  First person says to second person:  "Whatever you do, don't turn this knob" as first person hands "knob" to second person.  Second person turns knob.  First person walks off stage.  Second person continues…   "Whatever you do, don't go down those stairs"
        %p Example 2:  "Whatever you do, don't walk down THOSE stairs (pointing)".  Player two walks up different stairs, or crawls instead of walking, etc.
        %p Goal:  listening for inflection and watching actions, then responding in an appropriate or inappropriate way.  The trick is identifying and acknowledging then acting.
        %p
          %strong Emotional Symphony
        %p Five of the players are lined up in a performance fashion. One person is chosen to conduct the players in the symphony. Each player is endowed with some emotion. It is good to get a range of contrasting emotions for the players to use. Once each player is given their emotion the conductor points from one player to another. The players do not speak, but express their emotions through physicalization and noise. The intensity of the emotion is increased as the conductor raises her hand while pointing at the player. The conductor moves from player to player conducting an emotional symphony.
        %p
          %strong Jeepers Peepers
        %p Goal:  to get everyone in synch.
        %p Stay in a circle.  Everyone looks down at the ground, not making eye contact with anyone else.  The group all counts to three, and on a count of three everyone looks up at once. Each player in the circle is responsible for making a strong choice, and they must either look to their left, their right, or directly across the circle. If players make eye contact, both scream then sit down. This activity is continued until all are out of the circle.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordionImprov", "data-toggle" => "collapse", href: "#improveTwo"}
          Scenes and Games
    #improveTwo.panel-collapse.collapse
      .panel-body
        %p These games are better suited for a small group of players. 
        %p
          %strong Freeze Tag
        %p 2 players start scene.  Audience member can yell "freeze" and then taps out one of the frozen players and starts a new scene.
        %p
          %strong Stand, Sit, Lie Down
        %p Three players are needed.  One player lies down, one player stands, and one player sits.  The idea is for the players to start in their designated positions but change positions frequently.  At no time can a player be in the same position as another player.  The audience suggests a general scene which the players act out and justify position changes.
        %p The goal is to pay attention to the other players so no one is ever in the same position as someone else while creating a story that flows.  Change positions often, but justify the change.  Telegraph your position change so the other players can change seamlessly.
        %p Ideas:  Force one person to maintain a position (tie them up, kill them, nail them to their chair), and then make them justify a change.
        %p
          %strong Conducted Story
        %p This game is for 3 speaking players who stand in a line facing the audience and 1 player acting as the "conductor" who faces the 3 speaking players.  The audience suggests a topic.  The conductor points to a player who begins speaking until the conductor points to another player who picks up where the previous player left off and so on.
        %p The goal of the conducted story is for the players to tell a story that moves seamlessly from one player to another even if cut off mid-sentence.
        %p Example:  Player 1 says, “Many children were afraid of Carl for he was known to have…”  conductor points to another player   “…piles of library books that were overdue.”  Be sure to pick up where the previous speaker left off without repeating previous parts of the sentence…  in other words, make a complete sentence seamlessly.  Avoid words such as, ‘but’ and ‘instead of’ which deny other player's offers.
        %p
          Options:
          Designate one player to speak only in gibberish or with a drawl, etc...
        %p
          %strong Speak In One Voice
        %p 3 people line up in a row linked together arm in arm to be "player 1" in  a scene with player 2, who is a single player.  The 3 people who make up "player 1" speak as one person by saying the exact same words at the exact same time with the exact same tempo and inflection.  This is best done by watching each others' lips and listening carefully to the words being formed.  Player 1 speaks in the first person and speaks as slowly as necessary to be exactly in-synch.  The audience suggests a scene and relationship between "player 1" and player 2 and the scene begins.
        %p Important notes:  nobody making player 1 is "the leader".  All three participants must speak equally and in-synch.
        %p
          Examples:
          %br/
          Player 1 is interviewing player 2 for a job.
          Players 1 and 2 are dance partners.  (More physical).
        %p
          %strong Stunt Doubles
        %p
          In this scene the regular actors will have stunt doubles who replace them at any time that the scene just gets "too dangerous".  Of course you can determine when things are getting dangerous simply by yelling for stunt doubles!
          The regular actors carry out their scene normally.  Ideally the scene will be mundane and safe.  Stunt doubles can be called in when one player is about to open a door, or comb someone's hair.  The stunt doubles replace the two players and that mundane activity becomes extraordinarily dangerous and harmful.  Some players can do the action in slow motion.  When the stunt is finished, usually with some horrid injury to the stunt double, the regular actors come in to continue the scene where the stunt doubles left off.
        %p
          %strong Designated Dinger
        %p 2 players act out a scene suggested by the audience.  Each player has a "dinger" player at his side.  At anytime during the scene, the players can be interrupted by their designated "dinger" at which time, the previous line is changed and restated.  Every time a player's dinger dings, the speaking player backs up and changes the previous line.  Dingers:  it is important to give the players a chance to build a story, but if you don’t like the way the story is going, ding them.  Dingers:  listen carefully and when dinged make a strong change to the line dinged.  Also, leave slight pauses to give the dinger a chance to ding at opportune times.
        %p
          %strong Slide Show
        %p 3 players create a picture that is described by player 4 - the slide show presenter.  The audience suggests the type of slide show:  it could be pictures from a vacation, a wedding, high school photos, or even pictures of the presenter's wife in the delivery room.  The presenter sets up each slide by saying, "In this picture…"  and then describing it.  The 3 players then form a freeze frame picture until the presenter sets up the next slide and so on.
        %p The goal is for players to listen carefully to the presenter and act out each slide to form a freeze frame.  Adjustments can be made to the picture as details from the presenter come in.
        %p
          Players can be inanimate objects like trees or lamps as necessary.
          The presenter could also comment that a slide is in backwards, upside down, or out of focus.
        %p
          %strong Last Sentence Scene
        %p This will be an open scene.  The only constraints on this scene will be the first sentence and the last sentence of the scene are chosen by the audience.   Get a first sentence and a last sentence from the audience.
        %p One of the actors must state the first sentence as the first words out of her mouth.  Feel free to set up the environment without speaking.  Don’t be afraid to build into the first sentence.  The last sentence of the scene is a bit harder to manage, and it is much better appreciated by the audience.  The players must remember that they have only been asked to do two things in the scene, and you are expected to do them.
        %p
          Ideas:
          %br/
          Just say the two sentences and end the scene.
          First and last word can be used instead.
          There can also be a middle sentence, or word, that must appear at any time between the first and last sentence/word.
        %p
          %strong Line In My Pocket
        %p
          2-3 Players with Audience | Props: Slips of Paper (lines)
          Each person in audience writes down random line.  Players stuff their pocket with pieces of paper each containing single, unrelated lines of dialogue. A scene is played, during which players randomly grab a piece of paper out of their pocket and immediately incorporate the line of dialogue. The lines can come from plays, song titles or lyrics, the audience, clichés, etc.
        %p
          %strong Dubbing
        %p This is a four-player game. Players 1 & 2 are engaged in a conversation but don't actually speak.  Two off-stage players (3 and 4) provide the voices for the on-stage characters while 1 and 2 make gestures and move their lips.  If players 3/4 say things that require a physical action, then 1/2 act it out.  Also, players 1/2 can make gestures that players 3/4 can "interpret"; ex:  why are you pointing at the sky? etc…  or please put that gun away….
        %p
          %strong Fast Forward Restaurant
        %p The game is played by 2 sets of 2 players eating at a restaurant. Couples are named either couple A or B. Ask the audience for the type of restaurant the couples are in, relationship of the couple and topic of discussion.  The topic is different for each couple.
        %p The scene begins when couple A begins talking while couple B is silent (eating).  After a short develpment, the improvmaster interrupts the scene and switches to couple B.  Couple B is interrupted again and switched back to couple A, at which point the couple must show the progression of the discussion fast-forwarded in time as if both couples were interacting in the background during the whole time.
        %p
          %strong He Said While She…
          (offers in each line / practice clearing your mind and going with the flow)
        %p
          2 players.  Player 1 makes a statement:  "I want a divorce."
          %br/
          Player 2 responds to the side: "She said while pulling a knife out of her pocket."  (Player 1 pulls knife out of her pocket).  Player 2 then says, "Sure, honey."
          %br/
          Player 1 says to the side: "He said while reading the sports page."  (Player 2 now focuses on reading the paper)…. etc.
          Avoid questions although they can work.
        %p
          %strong Mr. So And So
          (character offers)
        %p 2 players plus one waiting.  Start random improv…   then new player enters and one of the existing players says, "Oh no, here comes Mr. Bad Irish Accent, or Miss Pathological Liar, etc..   Scene continues as one exists, another enters so that there are always only 3 people on stage.
        %p
          %strong Fast Forward
          (offers very important)
        %p 2 players plus director.  Audience suggests scene and relationship.  Improv begins.  Director at any point can yell "fast forward or rewind" and suggest time frame.
        %p
          %strong Slow Motion / Double Time
          (just fun)
        %p 2-3 players.  Audience sets scene.  At any moment, audience can call "slow motion" or "double time"
        %p
          %strong Oracle
          (focusing on partner synchronization)
        %p 2 players are one psychic/oracle who speak and gesture in perfect unison.  Audience asks questions.
        %p
          %strong Goalie
        %p Goal:  to listen carefully and snap into a character without thinking
        %p
          How to play:
          %br/
          1 player up front - he's the goalie - and 4-5 players in line.  Players in the line think of an opening line for a scene and a character to act out.  When everyone has their opening line and character, they bombard the goalie with their offers, one at a time.
        %p Example:  Player in line:  "We're at a car wash…    Sir, I've asked you twice."  Goalie:  (in a cowboy accent) "And I've told you twice we don't wash no goats here, sir."
        %p Goalie needs to react right away to each offer, acknowledging the opening and character, snap into a character and reply to the opening.   Immediately after, the next player comes up with his or her offer…  and so on.  After each player says their line, they move to the other side of the room until all players have gone.  Then, a new goalie steps up.
        %p
          %strong "Did You Say…?"
        %p Goal:  More listening and quick responses
        %p
          How to play:
          %br/
          2 players…    audience suggest scene.  Improv begins and shortly thereafter a player asks a question.  Player 2 repeats the question back for clarification but changes a key word.  Player 1 repeats the question and player responds "correctly" this time.  Now player 2 asks a question which player 1 repeats back incorrectly and so on.
        %p 1-2 minutes
        %p
          %strong Foreign Film Dub:
        %p
          Goal:
          To make offers physically and verbally.
        %p
          4 players.  2 players act out the scene and 2 players "dub" the words in.  It's up to the players to decide who's "leading" the scene - the gibberish players or the dubs players.
          %br/
          Be sure to each speak a line and wait for the translation before speaking again.
        %p
          %strong Emotional Overdub
        %p 4 players.  2 players calmly discuss a situation (making offers).  The other 2 players act out a much more exaggerated version
        %p
          %strong Revolving Door
        %p
          4 players to start (add more as everyone gets comfortable).  Each player is assigned some word that might come up in casual conversation. Whenever that word is spoken by another player in the scene they must enter or exit. If the player’s word is spoken and she is offstage, she must immediately come on-stage and justify her entrance. If her word is spoken while on-stage she must immediately exit and justify her exit.
          Ex:  Assigning someone a conjunction like: and, but or yes. This makes them blast in and out like a rubber ball.
        %p
          %strong Ding Ding Game
        %p 4 players - 2 acting / 2 dinging.  2 actors begin the scene.  Whenever a dinger doesn't like what they hear, they ding their player and they must change the last sentence or phrase.
        %p
          %strong Prequel / Sequel
        %p Any number of players but at least 2.  Audience suggest scene and players have 1 minute to act it out after which the audience votes on viewing an additional 1 minute of prequel or sequel to the story.
        %p
          %strong Conducted Story
        %p
          Goal: to listen carefully and make the story line seamless
          This game is for 4 players who stand in a line facing the audience while the improvmaster faces and conducts the 4 speaking players.  The audience suggests a topic.  The conductor points to a player who begins speaking until the conductor points to another player who picks up seamlessly, even in mid-sentence, where the previous player left off.
          Options:
          Designate one or more players to speak only in gibberish, with a drawl, in a foreign language, monotone, with different emotions, etc...
        %p
          %strong Speak In One Voice
        %p
          Goal: further sharpen listening and cooperation skills
          This game uses 3 people.
          %br/
          2 people link together to be "player 1" in  a scene with player 2, who is a single player.  The 2 people who make up player 1 speak as one person by saying the exact same words at the exact same time with the exact same tempo and inflection.  This is best done by listening carefully to the words being formed.  Player 1 speaks in the first person and speaks as slowly as necessary to be exactly in-synch.  The audience suggests a scene and relationship between player 1 and player 2 and the scene begins.
          Important notes:  Neither player in "player 1" is the leader.  Both must speak equally and in-synch.
          Options: have 2 sets of linked players and 2 single players, etc.
        %p
          %strong Rhyming and Timing Ditty
        %p
          Goal: to listen carefully to each line, cooperating with the other players, and rhyming in time
          4 players stand in a row.  The audience suggests a theme, topic or scene.  Then while snapping fingers in time like a ditty, each player will say a line in time:  da da da da daaaa and da da da da daaaa, then the second player says a line who last word rhymes with the last word from player 1.  Then player 3 says a line that player 4 will make a rhyme to, etc.

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordionImprov", "data-toggle" => "collapse", href: "#improveThree"}
          Advanced Techniques
    #improveThree.panel-collapse.collapse
      .panel-body
        %p 
          Need to brush on the basics first?   
          %a{href:'./index.html#theimprov', alt:''}Click here.
          Most of the advanced techniques below were taken from Dan Goldstein's 
          %a{href:'http://www.dangoldstein.com/howtoimprovise.html', alt:'', target:'_blank'}How To Improvise.
        %div
          %b 1. Add history.  
          %p
            The swiftest way to add reality and depth to a scene is to have the characters call up specifics from their common history. A simple exchange such as:
            %i Are you trying to get us arrested?
            %i Like the time we ran naked through the Yale-Princeton lacrosse game?
          %p Though just a few words, it provides a great deal of information. The audience and actors now can infer that the characters are college boys, they are troublemakers, they are educated, they are in New England, they drink to excess, they have police records, they are old friends, and much more. With one sentence, the amount of information the improvisers can now draw on has grown greatly.
          %p Some improv teachers suggest staying in the present tense as often as possible. I disagree. I think, however, that you should avoid talking too much about the future. Things in the future might happen, they might shape 
        %div
          %b 2. Be very specific.
          %p 
            If you're going to say 
            %i "nice car!", 
            why not make it 
            %i "wow, a 1979 Volvo Station Wagon!" 
            If we know the Volvo owner is a 21 year old woman, suddenly we can visualize her (well, maybe you can’t, but I can: she has dried blue and white oil paint on her fingers, wears an extra large men’s dress shirt as a smock, and has long, straight, chestnut-brown hair). A more vivid image opens up a rich, new world. Adjectives accelerate scene development.
        %div
          %b 3. Tell a story.
          %p The real magic of improv is when we see the players take totally random suggestions (like a plumber and a cab driver selling shoes in a leper colony ) and somehow "make it work". If all these unrelated elements are going to come together then it's going to happen in the course of an interesting tale.
        %div
          %b 4. Commence with characterizing actions.
          %p Characterizing actions are those which define a character's occupation or role, such as a teacher erasing a blackboard, a janitor cleaning up, or a child playing with toys, are good for starting scenes because they provide your fellow actors something to build on. They say a lot about what is going on and thus help the scene get to the point faster. Note that the scene need not (and often should not) be about drinking a beer or chopping lettuce just because that's what one of the characters is doing. Two people can start a scene engaged in an action together.  By putting status into this two-person action, a lot of information can be communicated very quickly.  For example, consider a scene which starts with one character hitting tennis balls, and the other chasing around after them.  The audience knows what the status is and where the characters are before the scene even starts.
        %div
          %b 5. Enter and exit with purpose.
          %p 
            Entering, exiting and staying put should have a reason, be justified. This is the purpose of playing the game Entrances and Exits (go figure) in rehearsal.  Don't just say 
            %i "OK, bye" 
            and walk out of a scene. Give a reason. Unjustified exits tend to be a problem novices have.
        %div
          %b 6. Questions should give more than they take
          %p Why ask a question on stage?  Are you expecting your fellow-actor  to have a ready answer?  What if she doesn't?  Doesn't that put her on the spot? Don't most questions slow the scene unnecessarily?  If it's a yes-no question, are you prepared to react to both yes and no answers? If no, then aren't you in trouble if the wrong answer comes back? If yes, then aren't you writing?

          %p Any question can be turned into a statement.  The nice thing about statements is that they provide information you and your fellow actor can immediately start building upon.  

          %p.convo
            Why go through:
            %i What time is it?
            %i Uh, 3:30?
            %i Are you ready?
            %i Yeah, are you ready?
            %i What are we doing?
            %i I don't know.  What's the capital of South Dakota?
            %i Uh, Fargo?

          %p.convo
            When you could have:
            %i It's 3:30
            %i We're right on schedule.
            %i Johnson should be handing the teller the note right now.
            %i It's 3:31.  Ski masks on.
            %i Think I have time to run to the bathroom?
            %i Why don't I ever get paired with Johnson?

          %p 
            Questions which don't require answers are fine.  Questions which provide more information then they demand are fine, too, e.g. 
            %i "Think I have time to run to the bathroom?" 
            This question introduces information, raises the stakes, and doesn't require the fellow actor to come up with a response. Rhetorical questions are fine, e.g., 
            %i "Why don't I ever get paired with Johnson?"

          %p.convo
            A drill to point out question-asking *in rehearsal only*, is to respond to each other's questions with "that's a good question ..." or adopt the Yiddish practice of answering with the exact same question:
            %i What do you want?  [bad question, contributes nothing to scene]
            %i What do I want? [actor 2 points out that actor 1 is putting him on the spot instead of contributing]
            %i Look, I'll get you the money tomorrow [hurrah! actor 1 gets the message]