#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
          1. The Ice Breaker
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        %p For your first speech project, you will introduce yourself to your fellow club members and give them some information about your background, interests, and ambitions. Practice giving your speech to friends or family members, and strive to make eye contact with some of your audience. You may use notes during your speech if you wish. Read the entire project before preparing your talk.
        %table
          %tbody
            %tr
              %td Time:
              %td 4 – 6 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li To begin speaking before an audience.
                  %li To discover speaking skills you already have and skills that need some attention
                  %li To introduce yourself to your fellow club members.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
          2. Organize Your Speech
    #collapseTwo.panel-collapse.collapse
      .panel-body
        %p Good speech organization is essential if your audience is to understand your presentation. You must take the time to put your ideas together in an orderly manner. You can organize your speech in several different ways; choose the outline that best suits your topic. The opening should catch the audience’s attention, the body must support the idea you want to convey, and the conclusion should reinforce your ideas and be memorable. Transitions between thoughts should be smooth.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Select an appropriate outline which allows listeners to easily follow and understand your speech.
                  %li Make your message clear, with supporting material directly contributing to that message.
                  %li Use appropriate transitions when moving from one idea to another.
                  %li Create a strong opening and conclusion.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
          3. Get to the Point
    #collapseThree.panel-collapse.collapse
      .panel-body
        %p Every speech must have a general an a specific purpose. A general purpose is to inform, to persuade, to entertain, or to inspire. A specific purpose is what you want the audience to do after listening to your speech. Once you have established your general and specific purposes, you’ll find it easy to organize your speech. You’ll also have more confidence, which makes you more convincing, enthusiastic, and sincere. Of course, the better organized the speech is, the more likely it is to achieve your purpose.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Organize the speech in a manner that best achieves those purposes
                  %li Ensure the beginning, body, and conclusion reinforce the purpose.
                  %li Project sincerity and conviction and control any nervousness you may feel.
                  %li Strive not to use notes.
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
          4. How to Say It
    #collapseFour.panel-collapse.collapse
      .panel-body
        %p Words are powerful. They convey your message and influence the audience and its perception of you. Word choice and arrangement need just as much attention as speech organization and purpose. Select clear, accurate, descriptive and short words that best communicate your ideas and arrange them effectively and correctly. Every word should add value, meaning, and punch to the speech.
        %table
          %tbody
            %tr
              %td Time:
              %td 5 – 7 minutes
            %tr
              %td Objectives:
              %td 
                %ul
                  %li Select the right words and sentence structure to communicate your ideas clearly, accurately and vividly.
                  %li Use rhetorical devices to enhance and emphasize ideas.
                  %li Eliminate jargon and unnecessary words. Use correct grammar.






%div
              %b 1. Add history.  
              %p
                The swiftest way to add reality and depth to a scene is to have the characters call up specifics from their common history. A simple exchange such as:
                %i Are you trying to get us arrested?
                %i Like the time we ran naked through the Yale-Princeton lacrosse game?
              %p Though just a few words, it provides a great deal of information. The audience and actors now can infer that the characters are college boys, they are troublemakers, they are educated, they are in New England, they drink to excess, they have police records, they are old friends, and much more. With one sentence, the amount of information the improvisers can now draw on has grown greatly.
              %p Some improv teachers suggest staying in the present tense as often as possible. I disagree. I think, however, that you should avoid talking too much about the future. Things in the future might happen, they might shape 
            %div
              %b 2. Be very specific.
              %p 
                If you're going to say 
                %i "nice car!", 
                why not make it 
                %i "wow, a 1979 Volvo Station Wagon!" 
                If we know the Volvo owner is a 21 year old woman, suddenly we can visualize her (well, maybe you can’t, but I can: she has dried blue and white oil paint on her fingers, wears an extra large men’s dress shirt as a smock, and has long, straight, chestnut-brown hair). A more vivid image opens up a rich, new world. Adjectives accelerate scene development.
            %div
              %b 3. Tell a story.
              %p The real magic of improv is when we see the players take totally random suggestions (like a plumber and a cab driver selling shoes in a leper colony ) and somehow "make it work". If all these unrelated elements are going to come together then it's going to happen in the course of an interesting tale.
            %div
              %b 4. Commence with characterizing actions.
              %p Characterizing actions are those which define a character's occupation or role, such as a teacher erasing a blackboard, a janitor cleaning up, or a child playing with toys, are good for starting scenes because they provide your fellow actors something to build on. They say a lot about what is going on and thus help the scene get to the point faster. Note that the scene need not (and often should not) be about drinking a beer or chopping lettuce just because that's what one of the characters is doing. Two people can start a scene engaged in an action together.  By putting status into this two-person action, a lot of information can be communicated very quickly.  For example, consider a scene which starts with one character hitting tennis balls, and the other chasing around after them.  The audience knows what the status is and where the characters are before the scene even starts.
            %div
              %b 5. Enter and exit with purpose.
              %p 
                Entering, exiting and staying put should have a reason, be justified. This is the purpose of playing the game Entrances and Exits (go figure) in rehearsal.  Don't just say 
                %i "OK, bye" 
                and walk out of a scene. Give a reason. Unjustified exits tend to be a problem novices have.
            %div
              %b 6. Questions should give more than they take
              %p Why ask a question on stage?  Are you expecting your fellow-actor  to have a ready answer?  What if she doesn't?  Doesn't that put her on the spot? Don't most questions slow the scene unnecessarily?  If it's a yes-no question, are you prepared to react to both yes and no answers? If no, then aren't you in trouble if the wrong answer comes back? If yes, then aren't you writing?

              %p Any question can be turned into a statement.  The nice thing about statements is that they provide information you and your fellow actor can immediately start building upon.  

              %p.convo
                Why go through:
                %i What time is it?
                %i Uh, 3:30?
                %i Are you ready?
                %i Yeah, are you ready?
                %i What are we doing?
                %i I don't know.  What's the capital of South Dakota?
                %i Uh, Fargo?

              %p.convo
                When you could have:
                %i It's 3:30
                %i We're right on schedule.
                %i Johnson should be handing the teller the note right now.
                %i It's 3:31.  Ski masks on.
                %i Think I have time to run to the bathroom?
                %i Why don't I ever get paired with Johnson?

              %p 
                Questions which don't require answers are fine.  Questions which provide more information then they demand are fine, too, e.g. 
                %i "Think I have time to run to the bathroom?" 
                This question introduces information, raises the stakes, and doesn't require the fellow actor to come up with a response. Rhetorical questions are fine, e.g., 
                %i "Why don't I ever get paired with Johnson?"

              %p.convo
                A drill to point out question-asking *in rehearsal only*, is to respond to each other's questions with "that's a good question ..." or adopt the Yiddish practice of answering with the exact same question:
                %i What do you want?  [bad question, contributes nothing to scene]
                %i What do I want? [actor 2 points out that actor 1 is putting him on the spot instead of contributing]
                %i Look, I'll get you the money tomorrow [hurrah! actor 1 gets the message]
