---
title: Improv Masters
body_class: index
---

= partial('./layouts/header')

%section.block1
  .container
    .row
      .col-xs-12
        %h1 About Our Club
        .row
          .col-sm-6.col-md-6
            %p ImprovMasters is a Toastmasters club that was chartered in June 2012 as Club No. 2563285.  Most of our members hail from the west part of Los Angeles, but some members travel from other locations in the region. Our meetings are fun but structured. We always look forward to new smiling faces, so please feel free to join us and see what we’re all about.

            %p We meet every Friday from 8PM to 10PM at Share Building in the Serenity Conference Room (2nd Floor).  The address is 6666 Green Valley Circle, Culver City CA 90230.
          .col-sm-6.col-md-6
            %img{src:'./images/shareBuilding.jpg', alt:'Share Building in Culver City'}

%section.block1#leadership
  .container
    .row.group
      .col-xs-12
        %h1 Current Leadership
        .row
          %figure.col-sm-4.col-md-3.text-center
            .oval
              %img{src:'./images/blank_batman.jpg'}
            %figcaption
              %span Paul Tavenner
              %span President
          %p.col-sm-8.col-md-9
            We foster personal and professional growth through a self-directed program of public speaking, improv techniques and leadership training within a safe, fun, inclusive and supportive community.
   

    .row.officers
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'./images/blank.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Glenn Schwartz 
            %span VP Education
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'./images/spider3.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Michael Bell 
            %span VP Membership
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'./images/woman.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Kim Gosney
            %span VP Public Relations
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'./images/bart.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Benjamin Gross
            %span Treasurer
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'https://pbs.twimg.com/profile_images/3084289127/423485561442e43a6fa6e59aa781b91e_400x400.jpeg', alt:''}
              / %img{src:'./images/blank_batman.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Anton Agna
            %span Secretary
      %figure.col-xs-12.col-sm-6.col-md-4
        .row
          .col-xs-6.col-sm-5.text-right
            .circle
              %img{src:'./images/yoda.jpg', alt:''}
          %figcaption.col-xs.12.col-sm-7
            %span Jonathan Nowak
            %span Sergeant-at-Arms

= partial('./layouts/footer')
